@font-face {
  font-family: "OpenSansRegular";
  src: url("./OpenSansRegular/OpenSansRegular.eot");
  src: url("./OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("./OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("./OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'OpenSansRegular', sans-serif;
}

